.Prod {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.product{
    background: linear-gradient(rgba(240, 98, 228, 0.5), rgba(238, 137, 238, 0.5));
    z-index: 2;
    margin-top: 7rem;
    width: 74.3%;
    font-size: 3rem;
    padding: 5px;
    color: rgb(225, 224, 233);
    border-radius: 10px;
}
.nav {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* width:; */
}
li {
    background: linear-gradient(rgba(96, 209, 215, 0.8),rgba(210, 53, 181, 0.8));
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    border: 1px solid white;
    width:40%;
    border-radius: 10px;
    padding: 5px;
}
/* .container {
    display: flex;
    justify-content: center;
    text-align: center;
} */
.BOX {
    background: linear-gradient(rgba(96, 209, 215, 0.8),rgba(210, 53, 181, 0.8));
    margin-top: 4rem;
    border: 2px solid rgb(255, 255, 255);
    padding:1.5rem 0px 1.5rem 0px;
    width:40.5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
}
.update {
    background-color: white;
    padding: 0px 10px 3px 10px;
    border-radius: 8px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}
@media only screen and (orientation: portrait){
    li, .BOX {
        width: 70%;
    }
}
@media only screen and (max-width: 425px) {
    li,.BOX {
        width: 90%;
    }
}