.SEE_PRO{
    display: flex;
    justify-content: center;
    align-items: center;
}

.see_product {
    margin-top: 7rem;
    background: linear-gradient(rgba(240, 98, 228, 0.5), rgba(238, 137, 238, 0.5));
    text-align: center;
    font-size: 3rem;
    padding: 5px;
    color: rgb(225, 224, 233);
    width: 74.3%;
    border-radius: 10px;
}
.container {
    display: flex;
    justify-content: center;
}
.search {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 1rem;
    background-color:rgb(214, 214, 214);
    border-radius: 10px;
    width: 75%;
}
span {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 4px;
    gap: 3px;
}
select {
    border-radius: 5px;
    height: 25px;
    outline: none;
}
div{
    justify-items: center;
}
ul {
    margin-top: 2px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color:rgb(214, 214, 214);
    border-radius: 10px;
    width: 75%;
}
.allpro {
    justify-content: center;
}
.display {
    font-weight: 200;
    background-color: rgb(214, 214, 214);
    width: 75%;
    margin-top: 1px;
    border-radius: 10px;
    height:53vh;
}