.INVOICE {
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoice {
    margin-top: 7rem;
    background: linear-gradient(rgba(240, 98, 228, 0.5), rgba(238, 137, 238, 0.5));
    text-align: center;
    font-size: 3rem;
    padding: 5px;
    color: rgb(225, 224, 233);
    width: 74.3%;
    border-radius: 10px;
}
.customer {
    margin: 1rem 12rem;
    width: auto;
    border: 2px solid white;
    border-radius: 12px;
    color: rgb(203, 153, 153);
    background-color: antiquewhite;
    padding-bottom: 1rem;
}

.CustInvoice {
    font-size: 40px;
    padding-left: 6%;
}
.Input {
    margin-top: 5px;
    display: flex;
    justify-content:space-evenly;
}

.Input div {
    display: wrap;
    align-items: center;
}

.custadd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.Cust {
    margin: 0rem 12rem;
    width: 75%;
    color: rgb(96, 190, 64);
}

.CustProduct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgba(245, 222, 179,0.9);
}
.in {
    margin-bottom: 1.5rem;
}
.pro {
    margin-bottom: 5px;
    color: rgb(218, 62, 62);
}
.p_Name {
    display: flex;
    justify-content: space-evenly;
}
.discount{
    margin-top: 30px;
    color: green;
    background-color: aliceblue;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 1rem;
}