
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-attachment: fixed;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.left_hover {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    background-color: #3f00fc;
    cursor: pointer;
    transition: width 1s ease, opacity 1s ease;
    opacity: 0;
    z-index: 15;
}

.left_hover:hover {
    width: 170px;
    opacity:1;
    cursor:auto;
}
.left_hover button {
    cursor: pointer;
    background-color: hsl(303, 21%, 63%);
    color: white;
    opacity: 0;
    transition: opacity 1.5s ease;
    margin: 1px 0px 1px 0px;
    padding: 10px;
    font-size: 1rem;
    width:100%;
    border: none;
}
.left_hover:hover button {
    opacity: 2;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(140, 197, 228, 0.7),rgba(31, 14, 182, 0.7));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.8rem;
}
.INVOICE {
    display: flex;
    justify-content: center;
    align-items: center;
}
.invoice {
    margin-top: 7rem;
    background:linear-gradient(rgba(240, 98, 228, 0.5),rgba(238, 137, 238,0.5));
    text-align: center;
    font-size: 3rem;
    padding: 5px;
    color: rgb(225, 224, 233);
    width: 74.3%;
    border-radius: 10px;
}
.CustInvoice {
    font-size:3rem;
    padding-left:6%;
}
.customer {
    margin:2rem 12rem;
    width: auto;
    border: 2px solid white;
    border-radius: 12px;
    font-size:2.5rem;
    height: auto;
    color: rgb(203, 153, 153);
    font-weight: bold;
    background-color: antiquewhite;
    padding-bottom: 1rem;
}
.Input {
    margin-top:5px;
    display: flex;
    justify-content:space-around;
}
.Input div {
    display: wrap;
    align-items: center;
}
input{
    height: 1.7rem;
    width:auto;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left:15px;
    padding: 5px;
    min-width: 15rem;
}
.custadd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.Cust {
    margin:0rem 12rem;
    width: 75%;
}
.CustProduct {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:flex-start;
    color: rgb(213, 145, 145);
    border: 2px solid white;
    border-radius: 10px;
    padding:2px 0px 5px 4.5rem;
}
.p_Name {
    display: flex;
    justify-content: space-between;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 1rem;
}
button{
    width: 100px;
    padding:5px;
    border: 2px solid black;
    border-radius: 10px;
    height: 35px;
}
button:active {
    background-color: aquamarine;
}